################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BackupWatcher
/BackupWatcher/bin
/BackupWatcher/obj
/BackupWatcher/config.json
/BackupWatcher/BackupWatcher.csproj.user
